// 样式居中
@mixin postion-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%)
}

// 屏幕适配
@function px2rem($val) {
  @return #{$val*2/100}rem;
}

@function px2vwh($val,$flag) {
  @if $flag == 'h' {
      @return #{$val /667*100}vh;
  } @else if $flag == 'w' {
      @return #{$val /375*100}vw;
  }
}

// 多倍图设置方案 [使用方式： @include bg-image('../../../assets/frameIcon/yff_logo');]
@mixin bg-image ($url) {
  background-image: url($url + "@2x.png");
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
      background-image: url($url + "@3x.png");
  }
}


