/**
 *  @desc:定义全局样式变量.
 */
 @charset "UTF-8";
 
 // 普通字体
 $normal-font-family: "-apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif";
 // 加粗字体
 $medium-font-family: "PingFangSC-Medium",'Noto SansCJK';
 
 $theme-color: #FB703C;
 $gold-theme-color: #B88845;
 
 $code-color: #9bc3e0;